:root {
  --primary-color: #1e3a8a;
  --white-color: #f8fafc;
  --cta-color: #0eafe9;
  --cta-hover-color: #0284c7;
  --failure-color: #dc2626;
  --success-color: #16a34a;
}

body {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
